@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Work Sans", serif; */

* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
.btn-container {
  text-align: center;
}
.btn {
  padding: 21px 32px 21px 32px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: none;
  background: rgb(82, 195, 3);
}

#hero {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 919px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-content {
  width: 1023px;
}

#hero .hero-content .subtitle {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .description {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* CARD SECTION STYLE */

#card-section {
  margin-top: 40px;
}
#card-section .container {
  text-align: center;
}

#card-section .card-container {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 30px auto;
}
#card-section .card-container .card {
  max-width: 380px;
  max-height: 580px;
  border: 1px solid red;
}

#card-section .img-container {
  max-width: 280px;
}

#card-section .img-container img {
  width: 100%;
}

#about {
  display: flex;
}

#about img-section {
  max-width: 40px;
  border: 1px solid red;
}

#about img-section img {
  width: 100%;
}
